@use 'variables';

body {
    font-family: variables.$font-family;
    margin: 0;
    padding: 0;
    background-color: variables.$background-color;
}

header {
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
    padding: 20px;
    text-align: center;
}

.hero {
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
    padding: 50px;
    text-align: center;

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: variables.$secondary-color;
    padding: 20px;

    .feature-item {
        background-color: variables.$background-color;
        text-align: center;
        width: 200px;
        padding: 20px;
        border-radius: 10px;

        h3 {
            color: variables.$dark-color;
            font-size: variables.$header-font-size;
        }

        p {
            font-size: variables.$subheader-font-size;
        }
    }
}
