<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarius APP</title>
</head>
<body>

    <nav>
        <ul>
            <li>    
                <a href="/">Home</a>
            </li>

            <li>    
                <a href="/Stock">Stock</a>
            </li>

            {% if user.is_authenticated %}
            <li>    
                <a href="/LogOut">LogOut</a>
            </li>
             {% else %}
             <li>    
                <a href="/SingUp">SingUp</a>
            </li>
            <li>    
                <a href="/LogIn">LogIn</a>
            </li>
            {% endif %}

        </ul>
    </nav>

    {% block content %}
    {% endblock %}
    
</body>
</html>